#bWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  /* padding: 1.5rem 1.5rem 5rem; */
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

#bTitle {
  font-size: 36px;
  font-weight: bold;
}

#bUserC {
  padding: 10px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-color: white;
  border-bottom-color: lightgray;
  border-width: 1px;
}

#bUser {
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px;
}

#bTime {
  font-size: 18px;
  color: lightgray;
}

.viewImg {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: black;
  align-items: center;
  margin-left: 10px;
}

.likeImg {
  cursor: pointer;
  transition: 0.3s;
}

.likeImg:hover {
  transform: scale(1.05);
}

.svg {
  margin-right: 5px;
}

.bContent {
  padding: 60px 0px 50px 0px;
  min-height: 250px;
}

#bCommentCount {
  font-size: 18px;
  font-weight: bold;
}

textarea {
  resize: none;
}

.input-group {
  display: flex;
}

.profileImg {
  margin-right: 5px;
}

.commentContainer {
  border: solid;
  border-bottom-width: 1px;
  padding: 10px 0px 20px 0px;
  border-color: white;
  border-bottom-color: lightgray;
}

.userC {
  font-size: 14px;
}
.cancelBtn {
  cursor: pointer;
  margin-right: 10px;
}

.ques_type {
  border-radius: 11px;
  width: 70px;
  padding: 4px 0;
  text-align: center;
  color: white;
  background-color: rgb(241, 152, 182);
  font-weight: 400;
  font-size: 14px;
  border: 1px solid;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answerBtn {
  width: 100%;
  height: 50px;
  background-color: #0206af;
}

.answerCancelBtn {
  width: 100%;
  height: 50px;
  background-color: lightgray;
  display: none;
  margin-right: 15px;
}

.answerContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border: solid;
  border-radius: 20px;
  border-color: lightgray;
  border-width: 1px;
  margin-bottom: 20px;

  visibility: hidden;
  height: 0vh;

  transition: all 0.3s;
}

.answered {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border: solid;
  border-radius: 20px;
  border-color: lightgray;
  border-width: 1px;
  margin-bottom: 20px;
}

.answerTitle {
  font-size: 1.25rem;
}

.answerArea {
  height: 75%;
  border: none;
}

.answerArea:focus {
  outline: none;
}

.act {
  visibility: visible;
  height: 55vh;
}

.dblock {
  display: block;
}

.hidden {
  visibility: hidden;
  transition: all 0.3s;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
}

.likeC {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  /* border: 1px solid lightgray; */
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}

.likeActive {
  color: #ff3666;
}

.commentC {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
}

.commentActive {
  background-color: var(--main-color);
  border-radius: 10px;
}

.answerCommentC {
  display: none;
  margin-top: 10px;
  padding: 15px 12px;
  border-radius: 10px;
  background-color: #fafafa;
  width: 100%;
}

.answerCommentCShow {
  display: block;
  margin-top: 10px;
  padding: 15px 12px;
  border-radius: 10px;
  background-color: #fafafa;
  width: 100%;
}

#commentArea:focus {
  outline: none !important;
  border: 1px solid #e3e3e3;
}

.commentUser {
  display: flex;
  margin: 7px 0px 7px 0px;
  align-items: center;
  justify-content: space-between;
}

.answerBtn {
  width: 100%;
  height: 50px;
  background-color: #71bd66;
}

.commentBtn {
  background-color: #71bd66;
}

.btnContainer .dblock:hover {
  color: white;
  background-color: #dc3545;
  border-color: #19875400;
}

.btnContainer .dblock:active {
  color: white;
  background-color: #dc3545;
  border-color: #19875400;
}

.btnContainer .dblock.focus,
.btnContainer .dblock:focus {
  box-shadow: 0 0 0 0.2rem #dc354641;
  outline: 0px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: ##71bd66;
  --bs-btn-border-color: ##71bd66;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: ##71bd66;
  --bs-btn-hover-border-color: ##71bd66;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #41894e;
  --bs-btn-active-border-color: ##71bd66;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: ##71bd66;
  --bs-btn-disabled-border-color: ##71bd66;
}
