#bWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  /* padding: 1.5rem 1.5rem 5rem; */
}

#bTitle {
  font-size: 36px;
  font-weight: bold;
}

#bUserC {
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-color: white;
  border-bottom-color: lightgray;
  border-width: 1px;
}

#bUser {
  margin-right: 10px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

#bTime {
  font-size: 18px;
  color: lightgray;
}

.viewImg {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: black;
  align-items: center;
  margin-left: 10px;
}

.likeImg {
  cursor: pointer;
  transition: 0.3s;
}

.likeImg:hover {
  transform: scale(1.05);
}

.svg {
  margin-right: 5px;
}

.bContent {
  padding: 60px 0px 60px 0px;
  min-height: 350px;
}

#bCommentCount {
  font-size: 18px;
  font-weight: bold;
}

textarea {
  resize: none;
}

.input-group {
  display: flex;
}

.profileImg {
  margin-right: 5px;
}

.commentContainer {
  border: solid;
  border-bottom-width: 1px;
  padding: 10px 0px 20px 0px;
  border-color: white;
  border-bottom-color: lightgray;
}

.userC {
  font-size: 21px;
}
.cancelBtn {
  cursor: pointer;
  margin-right: 10px;
}
