body {
  font-size: small;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

header {
  padding: 1.5rem;
  width: 100%;
  text-align: start;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bi-arrow-left:hover > .hover-circle {
  fill: var(--hover-color);
  cursor: pointer;
}

img {
  display: flex;
  width: 10rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 85%;
  border: 3px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

h2 {
  color: var(--border-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.uId,
.email,
.uName,
.pw {
  width: 5.9rem;
}

.input-wrapper .userId {
  background-color: transparent;
  margin: auto;
}

.form_profile input {
  border: none;
  outline: none;
  box-shadow: 0px 2px 0px 0px var(--main-color);
  padding: 5px 10px;
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.form_profile input:hover {
  box-shadow: 0px 0px 0px 1px var(--hover-color);
  cursor: pointer;
}

.form_profile label {
  margin-right: 0.5rem;
  background-color: var(--main-color);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 8px;
}

.input-wrapper {
  display: flex;
  align-items: baseline;
}
.input-wrapper2 {
  display: flex;
  align-items: baseline;
  margin-top: 1.5rem;
}

.modal-content {
  font-weight: bold;
}

#deletebtn {
  background-color: #dc7983;
  border-color: #dc7983;
}
#deletebtn:hover {
  background-color: #c82333;
  border-color: #c82333;
}

.alert {
  position: relative;
  margin: -1rem 0rem;
  border: none;
  border-radius: none;
  font-size: small;
}

.alert-danger {
  color: red;
  background-color: transparent;
  border-color: none;
}

::placeholder {
  font-size: 0.8em;
  opacity: 1;
}

:-ms-input-placeholder {
  font-size: 0.8em;
  opacity: 1;
}

::-ms-input-placeholder {
  font-size: 0.8em;
  opacity: 1;
}

/* button */

button.profileEdit,
button.profileDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  height: 40px;

  background-color: var(--main-color);
  color: black;
  border: none;
  outline: none;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
button.profileEdit {
  font-weight: bold;
  border-radius: 10px;
  width: 120px;
  margin-top: 3.5rem;
}

button.profileEdit:hover {
  background-color: var(--border-color);
  cursor: pointer;
  color: white;
}
button.profileDelete {
  background-color: transparent;
  border-bottom: 1px solid lightgrey;
  color: lightgrey;
  width: 100px;
}
button.profileDelete:hover {
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.6;
  cursor: default;
}

@media (max-width: 680px) {
  body {
    font-size: small;
  }

  header {
    padding: 1rem;
  }

  img {
    width: 8rem;
  }

  main {
    width: 90%;
    max-width: 300px;
    min-width: 250px;
    border-width: 3px;
    border-radius: 10px;
    padding: 20px;
    height: 80%;
  }

  h2 {
    font-size: 1rem;
  }

  .uId,
  .email,
  .uName,
  .pw {
    width: auto;
  }

  .form_profile input {
    padding: 5px 8px;
  }

  .form_profile label {
    margin-right: 0.25rem;
    font-size: 0.6rem;
  }

  .input-wrapper2 {
    margin-top: 0.5rem;
  }

  .modal-content {
    font-size: 0.8rem;
  }

  #deletebtn {
    font-size: 0.8rem;
  }
  .alert {
    position: relative;
    margin: -1rem 0rem;
    border: none;
    border-radius: none;
    font-size: 0.4rem;
  }

  .alert-danger {
    color: red;
    background-color: transparent;
    border-color: none;
  }
  button.profileEdit {
    font-size: small;
    height: 2rem;
  }
}
