body {
  font-size: large;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

header {
  padding: 2rem;
  width: 100%;
  text-align: start;
  cursor: pointer;
}

h2 {
  margin-bottom: 3rem;
  font-weight: bold;

}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.bi-arrow-left:hover .hover-circle {
  fill: var(--hover-color);
  cursor: pointer;
}

img {
  display: flex;
  width: 17rem;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 500px;
  border: 5px solid var(--border-color);
  border-radius: 20px;
  padding: 30px;
  flex-wrap: wrap;
}

form#findId_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.findId_form_uName,
.findId_form_email {
  display: flex;
  flex-direction: column;
}
label[for='findId_form_uName']:hover,
label[for='findId_form_email']:hover {
  color: var(--hover-color2);
}

input[class='findId_form_uName'],
input[class='findId_form_email'] {
  border: none;
  outline: none;
  box-shadow: 0px 2px 0px 0px var(--main-color);
  padding: 5px 10px;
  transition: box-shadow 0.3s ease-in-out;
}
input[class='findId_form_uName']:hover,
input[class='findId_form_email']:hover {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--hover-color);
  padding: 5px 10px;
}

.btn-primary {
  margin: auto;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: black;
  border: none;
  outline: none;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--border-color);
  cursor: pointer;
}

.caution {
  margin-top: 10px;
  font-size: small;
  color: red;
}
