* {
  font-family: "Spoqa Han Sans", "Spoqa Han Sans JP", "Sans-serif";
}
:root {
  --main-color: #ddecca;
  --border-color: #b7b763;
  --hover-color: rgb(220, 219, 219);
  --hover-color2: rgb(146, 142, 142);
}
