th,
td {
  text-align: center;
}
a {
  text-decoration: none;
  cursor: pointer;
}
#listType {
  margin: 20px 0px 20px 10px;
  font-size: 38px;
  font-weight: bold;
}

.bInfo {
  width: 10%;
  text-align: center;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #71bd66;
  border-color: #71bd66;
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: #71bd66;
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid
    var(--bs-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
  z-index: 2;
  color: #71bd66;
  background-color: var(--bs-pagination-hover-bg);
  border-color: var(--bs-pagination-hover-border-color);
}

.sDate {
  display: none;
}

@media (max-width: 1200px) {
  /* viewport width가 480px 이하일 때 */
  .bInfo {
    width: 14%;
  }
  .cDate {
    width: 20%;
  }
}

@media (max-width: 770px) {
  /* viewport width가 480px 이하일 때 */
  .bLike {
    display: none;
  }
  .sDate {
    display: block;
  }
  .bDate {
    display: none;
  }
}
