body {
  font-size: large;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

header {
  padding: 2rem;
  width: 100%;
  text-align: start;
  cursor: pointer;
}

.bi-arrow-left:hover .hover-circle {
  fill: var(--hover-color);
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

img {
  display: flex;
  width: 17rem;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 500px;
  border: 5px solid var(--border-color);
  border-radius: 20px;
  padding: 30px;
  flex-wrap: wrap;
}

form#login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.findInfo {
  display: block;
  margin-left: 1rem;
}

.login_form_id,
.login_form_pw {
  display: flex;
  flex-direction: column;
}
label[for="login_form_id"]:hover,
label[for="login_form_pw"]:hover {
  color: var(--hover-color2);
}

input[class="login_form_id"],
input[class="login_form_pw"] {
  border: none;
  outline: none;
  box-shadow: 0px 2px 0px 0px var(--main-color);
  padding: 5px 10px;
  transition: box-shadow 0.3s ease-in-out;
}
input[class="login_form_id"]:hover,
input[class="login_form_pw"]:hover {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--hover-color);
  padding: 5px 10px;
}

form#login_form a {
  display: inline-block;
}

form#login_form a:last-of-type {
  margin-right: 0;
}
.login_links {
  margin: -2px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.id-link,
.pw-link {
  color: var(--border-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.id-link:hover,
.pw-link:hover {
  color: var(--hover-color);
  cursor: pointer;
}
.btn-primary {
  margin: auto;
  width: 96px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-color);
  color: black;
  border: none;
  outline: none;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  align-items: center;
  margin-left: 3.5rem;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: var(--border-color);
  cursor: pointer;
}

.caution {
  margin-top: 10px;
  font-size: small;
  color: red;
}

.btn-p .btn-primary {
  border-color: #71bd66;
}

.btn-primary.focus {
  color: #fff;
  background-color: #71bd66;
  border-color: #71bd66;
  box-shadow: 0 0 0 0.2rem #71bd66;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #71bd66;
  border-color: #71bd66;
}

.btn-primary:focus {
  color: #fff;
  background-color: #71bd66;
  border-color: #71bd66;
  box-shadow: 0 0 0 0.2rem #71bd66;
}

.btn-primary:hover {
  color: #fff;
  background-color: #71bd66;
  border-color: #71bd66;
}

.btn:hover {
  color: white;
  background-color: #71bd66;
  border-color: #19875400;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #71bd6685;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem #71bd6685;
  outline: 0px;
}
