.ck-editor__editable {
  min-height: 400px;
}

.qcTitleContainer {
  display: flex;
  margin-top: 5px;
  align-items: center;
}

.qcTitle {
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}

.qcTitleInput {
  border-color: lightgray;
}

.qcWrite {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end;
}

.btn-outline-success:hover {
  color: var(--bs-btn-hover-color);
  background-color: #198754;
  border-color: #198754;
}

.btn-outline-danger:hover {
  color: var(--bs-btn-hover-color);
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger {
  --bs-btn-color: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dc3545;
  --bs-btn-hover-border-color: #dc3545;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dc3545;
  --bs-btn-active-border-color: #dc3545;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #dc3545;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dc3545;
  --bs-gradient: none;
}

.btn-outline-success {
  --bs-btn-color: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #198754;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #198754;
  --bs-gradient: none;
}

.dropdown .btn-check:checked + .btn:first-child,
.dropdown .btn:first-child.active,
.dropdown .btn:first-child.show,
.dropdown .btn:first-child:active,
:not(.btn-check) + .dropdown .btn:active {
  color: white;
  background-color: #71bd66;
  border-color: #19875400;
}

.dropdown .btn:first-child.focus,
.dropdown .btn:first-child:focus {
  box-shadow: 0 0 0 0.2rem #71bd6685;
  outline: 0px;
}

.btn-check:checked + .btn:first-child,
.btn:first-child.active,
.btn:first-child.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-check:checked + .btn:last-child,
.btn:last-child.active,
.btn:last-child.show,
.btn:last-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: #198754;
  border-color: #198754;
}

.btn:last-child.focus,
.btn:last-child:focus {
  box-shadow: 0 0 0 0.2rem #19875442;
  outline: 0px;
}

.btn:first-child.focus,
.btn:first-child:focus {
  box-shadow: 0 0 0 0.2rem #dc354641;
  outline: 0px;
}
