body {
  font-size: medium;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  background-color: var(--main-color);
}

header {
  width: 100%;
  text-align: start;
  padding: 40px 40px;

  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  margin-left: 55px;
  width: 135px;
  height: 45px;
}

.logout {
  font-size: large;
  font-weight: bold;
}
.logout:hover {
  border: none;
}

.header button {
  justify-content: end;
}
.bi-arrow-left:hover > .hover-circle {
  fill: var(--hover-color);
  cursor: pointer;
}

img {
  width: 50px;
  height: 50px;
}

img.person {
  width: 150px;
  height: 150px;
}
img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.like {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
  /* background-color: blue; */
  /* padding-top: 30px; */
}

.svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

form[name="profile"] {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

img.sesac_badge {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.container {
  padding: 20px;
}

button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: border-color 0.3s, var(--hover-color2) 0.3s;
  color: black;
  outline: none;
  text-align: center;
  display: block;
  /* width: 60%; */
}
.header button {
  display: flex;
  flex-direction: flex-end;
}

button:focus {
  border-bottom-color: var(--hover-color2);
}

.row {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: large;
}

button:active,
button:focus {
  box-shadow: 0 2px 2px var(--hover-color);
  outline: none;
}

.caution {
  border: 0 0 0 1px solid var(--hover-color2);
}

/* .question,
.freeBoards,
.postedQuestion,
.answer {
  border: none;
} */
#content {
  margin: 30px;
  display: flex;
  align-items: space-around;
  flex-direction: column;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  background-color: var(--main-color);
  font-size: x-large;
}

#caution {
  margin: 30px 200px;
  padding: 0px 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  background-color: var(--main-color);
  font-size: large;
  /* padding: -7px 180px; */
}

.hidden {
  display: none;
}

.freeBoards,
.postedQuestion,
.question,
.answer {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 30px;
}

.freeBoards a,
.postedQuestion a,
.question a,
.answer a {
  text-decoration: none;
  color: black;
  translate: color 0.3s;
  /* background-color: aliceblue; */
}

.freeBoards a:hover,
.postedQuestion a:hover,
.question a:hover,
.answer a:hover {
  color: var(--hover-color2);
}

.freeBoards p,
.postedQuestion p,
.question p,
.answer p {
  font-size: medium;
}

.freeBoards > h3:first-child,
.postedQuestion > h3:first-child,
.question > h3:first-child,
.answer > h3:first-child {
  font-size: 0.75rem;
}

/* 모바일 화면: 화면 너비가 480px 이하일 때 */
@media (max-width: 480px) {
  button {
    padding: 8px 15px;
  }
  .row {
    display: flex;
    direction: row;
    font-size: small;
  }
  #content {
    margin: 0 50px;
    display: flex;
    align-items: stretch;
  }
  #caution {
    margin: 30px 100px;
    padding: 0px 70px;
    flex-direction: row;
    font-size: medium;
  }
}

/* 태블릿 화면: 화면 너비가 481px ~ 768px일 때 */
@media (min-width: 481px) and (max-width: 768px) {
  button {
    padding: 9px 18px;
  }
  .row {
    display: flex;
    direction: row;
    font-size: medium;
  }
  #content {
    margin: 0 100px;
    display: flex;
    align-items: stretch;
  }
  #caution {
    margin: 30px 100px;
    padding: 0px 70px;
    flex-direction: row;
    font-size: medium;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  button {
    padding: 9px 18px;
  }
  .row {
    display: flex;
    direction: row;
    font-size: medium;
  }
  #content {
    margin: 0 100px;
    display: flex;
    align-items: stretch;
  }
  #caution {
    margin: 30px 148px;
    padding: 0px 130px;
    flex-direction: row;
    font-size: medium;
  }
}
