body {
  font-size: large;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
  background-color: var(--main-color);
}

header {
  width: 100%;
  text-align: start;
  margin: 20px 30px;

  cursor: pointer;
}

.bi-arrow-left:hover > .hover-circle {
  fill: var(--hover-color);
  cursor: pointer;
}

img {
  width: 135px;
  height: 45px;
}

img.person {
  width: 150px;
  height: 150px;
}
img.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.like {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  /* background-color: blue; */
  /* padding-top: 30px; */
}

.svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

form[name="profile"] {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

img.sesac_badge {
  display: flex;
  justify-content: center;
  width: 35px;
  height: 35px;
}

.container {
  padding: 20px;
}

button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: border-color 0.3s, var(--hover-color2) 0.3s;
  color: black;
  outline: none;
  text-align: center;
  display: block;
  width: 60%;
}

/* 모바일 화면: 화면 너비가 480px 이하일 때 */
@media (max-width: 480px) {
  button {
    padding: 8px 15px;
    width: 80%; 
  }
}

/* 태블릿 화면: 화면 너비가 481px ~ 768px일 때 */
@media (min-width: 481px) and (max-width: 768px) {
  button {
    padding: 9px 18px;
    width: 70%; 
  }
}




button:hover,
button:focus {
  border-bottom-color: var(--hover-color2);
  width: fit-content;
}

.row {
  display: flex;
  justify-content: center;
  align-items: start;
}

button:active,
button:focus {
  box-shadow: 0 2px 2px var(--hover-color);
  outline: none;
}

.caution {
  border: 0 0 0 1px solid var(--hover-color2);
}

/* .question,
.freeBoards,
.postedQuestion,
.answer {
  border: none;
} */
#content {
  width: calc(
    100% - 400px
  ); /* 전체 너비에서 400px(양쪽 200px씩)을 뺀 크기로 설정 */
  margin: 0 200px; /* 상하로는 0, 좌우로는 200px의 마진 설정 */
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.freeBoards,
.postedQuestion,
.question,
.answer {
  display: flex;
  justify-content: flex-start;
}

.freeBoards a,
.postedQuestion a,
.question a,
.answer a {
  text-decoration: none;
  color: black;
  /* background-color: aliceblue; */
}

.freeBoards a:hover,
.postedQuestion a:hover,
.question a:hover,
.answer a:hover {
  color: var(--hover-color2);
}

.freeBoards p,
.postedQuestion p,
.question p,
.answer p {
  font-size: medium;
}

.qnaList,
.commentedList,
.likedList,
.freeList {
  /* background-color: aliceblue; */
}
