body {
  font-size: large;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

header {
  width: 100%;
  text-align: start;
  margin: 0 30px;
  cursor: pointer;
}

.bi-arrow-left:hover > .hover-circle {
  fill: var(--hover-color);
  cursor: pointer;
}

img {
  width: 100px;
  height: 80px;
}

.like {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  /* padding-top: 30px; */
}

.svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.hidden {
  display: none;
}

form[name="profile"] {
  display: flex;
  justify-content: center;
}
