body {
  font-size: large;
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}

header {
  width: 100%;
  text-align: start;
  margin: 0 30px;
  cursor: pointer;
}

.bi-arrow-left:hover > .hover-circle {
  fill: var(--hover-color);
  cursor: pointer;
}

img {
  width: 100px;
  height: 80px;
}

main {
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  border: 5px solid var(--border-color);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 50px 30px;
  flex-wrap: wrap;
}

h2 {
  font-weight: bold;
}

.input-group-text {
  display: inline-block;

  background-color: var(--main-color);
  border: none;
  margin-top: 1rem;
  margin-right: 0.3rem;
  cursor: pointer;
  font-weight: bold;
}

option {
  border: none;
  outline: none;
}

input.form-control {
  flex: 3;
  border: none;
  outline: none;
  box-shadow: 0px 2px 0px 0px var(--main-color);
  padding: 5px 10px;
  transition: box-shadow 0.3s ease-in-out;
  margin-top: 0.3rem;
  cursor: pointer;
}

input.form-control:hover {
  box-shadow: 0px 0px 0px 1px var(--hover-color);
  cursor: pointer;
}

button.btn.btn-primary {
  margin-left: 0.3rem;
  margin-top: 0.85rem;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: gray;
  background-color: var(--form-color);
  border-color: var(--form-color);
}

label {
  display: inline-block;
  margin-bottom: 2.5rem;
  margin-right: 1rem;
  font-weight: bold;
}

label.isSesac {
  margin-right: 0.5rem;
  background-color: var(--main-color);
  border-radius: 5px;
  margin-top: 0.3rem;
}

.input-group.mb-3 {
  display: flex;
  align-items: center;
}

.input-group.mb-3 .form-control {
  margin-top: 0.8rem;
  cursor: pointer;
}

.form-select {
  margin-top: 1rem;
  width: 16rem;
}

.form-check-inline {
  margin-top: 1.5rem;
  margin-left: 0.5rem;
}
.form-check-inline .form-check-label {
  margin-left: 0.5rem;
}

/* 예 아니오 버튼 */
.form-check-input[type='radio'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  background-color: transparent;
  margin-right: 5px;
  cursor: pointer;
}

.form-check-input[type='radio']:checked {
  background-color: var(--border-color);
}

.form-check-label {
  font-weight: bold;
  cursor: pointer;
}

/* 새싹 캠퍼스  */
.form-select {
  background-color: transparent;
  border: 2px solid var(--form-color);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: var(--form-color);
}

/* 드롭다운 내부 항목 */
.form-select option {
  background-color: var(--form-color);
  font-weight: bold;
}

#basic-addon1 {
  width: 7.5rem;
}

#campusLabel {
  width: 10rem;
}

#basic-addon2 {
  width: 10rem;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 96px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  outline: none;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 3rem;
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.btn-primary:hover {
  background-color: var(--border-color);
  border: 2px solid var(--main-color);
  cursor: pointer;
}

/* 중복 확인 중인 경우 버튼 색상을 파란색으로 변경
button.checking-duplicate {
  background-color: darkgreen !important;
  border-color: darkgreen !important;
  cursor: not-allowed !important;
} */

.alert {
  position: relative;
  margin: -1rem 0rem;
  border: none;
  border-radius: none;
  font-size: small;
}
.alert-info {
  color: blue;
  background-color: transparent;
  border-color: none;
}

.alert-danger {
  color: red;
  background-color: transparent;
  border-color: none;
}
