# npm
/node_modules
package-lock.json

# 환경변수
.env

# sequelize <--> DB 연결정보
/config/config.json

# SMTP 
/config/email.js

# sql문 
/sql

# 유저가 업로드한 이미지 파일
!static/editorImg/.gitkeep
!static/profileImg/.gitkeep

# 설정파일 폴더
!config/.gitkeep

# 맥북
.DS_Store

