<div id="carousel-container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://sesac.seoul.kr/common/greeting.do" target="_blank">
          <div class="carousel-c1">
            <div class="carousel-c1-title">
              <div id="c1-title-1">SeSacIN !</div>
              <div id="c1-title-2">새싹인만을 위한 커뮤니티에</div>
              <div id="c1-title-2">오신 것을 환영합니다 🌱</div>
            </div>
            <div class="carousel-c1-img">
              <img src="../static/img/sesac-c1.png" class="d-block" alt="c1" />
            </div>
          </div>
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://polydactyl-cello-2db.notion.site/1st-team-c-9010d350c97a44f3b9786e0799632f06?pvs=4" target="_blank">
        <div class="carousel-c2-img">
          <img src="../static/img/logo-c2.png" class="d-block" alt="c2" />
        </div>
      </div>
      <div class="carousel-item">
        <a href="https://codingon.co.kr/" target="_blank">
          <div class="carousel-c3-img">
            <div class="wrapper-condingon">
            <div class="carousel-c3-codingon">
              <img src="../static/img/codingon-logo.png" class="d-block" />
              <div class="c3-title">
                <div>코딩온과 함께하는</div>
                <div>성공적인 개발자 취업과정 !</div>
              </div>
            </div>
            <img
              src="../static/img/logo-3.png"
              class="d-block"
              id="c3-img"
              alt="c3"
            />
            </div>
          </div>
        </a>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
