<div id="carousel-container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-background">
          <div class="carousel-c1-title">
            <div id="c1-title-1">SeSacIN !</div>
            <div id="c1-title-2">
              μƒμ‹ΉμΈλ§μ„ μ„ν• μ»¤λ®¤λ‹ν‹°μ— μ¤μ‹  κ²ƒμ„ ν™μν•©λ‹λ‹¤ π±
            </div>
          </div>
          <div class="carousel-c1-img">
            <img src="../static/img/sesac-c1.png" class="d-block" alt="c1" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-c2-img">
          <img src="../static/img/logo-c2.png" class="d-block" alt="c2" />
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-c3-img">
          <div class="carousel-c3-codingon">
            <img src="../static/img/codingon-logo.png" class="d-block" />
          </div>
          <img src="../static/img/logo-3.webp" class="d-block" alt="c3" />
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <spaan class="visually-hidden">Previous</spaan>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
