<a href="/question/<%= data.qId%>">
  <div id="cardContainer">
    <div class="ques">C.</div>
    <div class="ellipsis"><%= data.content%></div>
    <user>
      <%= data.uName ? data.uName : "이름없음" %>
      </div>
    </user>
  </div>
</a>
