<head>
  <!-- μ¤ν¬λ¦½νΈ: μΆ…μ†μ„±μ„ κ³ λ ¤ν•μ—¬ μμ„λ€λ΅ λ°°μΉ -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />

  <link rel="stylesheet" href="views/styles/globalstyle.css" />

  <style>
    .cFooter {
      display: flex;
      justify-content: center; /* κ°€λ΅ μ¤‘μ•™ μ •λ ¬ */
      align-items: center; /* μ„Έλ΅ μ¤‘μ•™ μ •λ ¬ */
      width: 100%;
      height: 200px;
    }

    .team-members {
      display: flex;
      flex-direction: row;
      justify-content: space-around; /* μ”μ†λ“¤ κ°„μ κ°„κ²©μ„ κ· λ“±ν•κ² λ°°μΉ */
      flex-grow: 1; /* κ° ν€ λ©¤λ²„λ¥Ό λ™μΌν• λΉ„μ¨λ΅ ν™•μ¥ */
    }
    .team-member {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px; /* κ° ν€μ› μ‚¬μ΄μ κ°„κ²© μ΅°μ • */
    }

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .memberImg {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-bottom: 0.5rem;
    }

    .tstory {
      color: lightgray;
      margin-top: 0.5rem;
    }
  </style>
</head>
<body>
  <div class="cFooter">
    <div class="team-members">
      <div class="team-member">
        <a href="https://github.com/Sangwoo97">
          <img src="/static/img/member1.jpg" alt="κΉ€μƒμ°" class="memberImg" />
          <br />κΉ€μƒμ°
        </a>
        <a class="tstory" href="https://codingno1.tistory.com/">π±Blog</a>
      </div>

      <!-- ν€μ› 2 -->
      <div class="team-member">
        <a href="https://github.com/ellin45">
          <img src="/static/img/member2.jpg" alt="μ •μ±„λ¦Ό" class="memberImg" />
          <br />μ •μ±„λ¦Ό
        </a>
        <a class="tstory" href="https://velog.io/@chaelimj45">π±Blog</a>
      </div>

      <!-- ν€μ› 3 -->
      <div class="team-member">
        <a href="https://github.com/hotdog7778">
          <img src="/static/img/member3.jpg" alt="κΉ€νƒκ· " class="memberImg" />
          <br />κΉ€νƒκ· 
        </a>
        <a class="tstory" href="https://dksl00.tistory.com/">π±Blog</a>
      </div>
      <!-- ν€μ› 4 -->
      <div class="team-member">
        <a href="https://github.com/loveflora">
          <img src="/static/img/member4.jpg" alt="κΉ€μ„Έν™”" class="memberImg" />
          <br />κΉ€μ„Έν™”
        </a>
        <a class="tstory" href="https://oooooooooooo.tistory.com/m">π±Blog</a>
      </div>
      <!-- ν€μ› 5 -->
      <div class="team-member">
        <a href="https://github.com/jinnymoon1124">
          <img src="/static/img/member5.jpg" alt="λ¬Έν¨μ§„" class="memberImg" />
          <br />λ¬Έν¨μ§„
        </a>
        <a class="tstory" href="https://jinnycoding.tistory.com/">π±Blog</a>
      </div>
    </div>
  </div>
</body>
