<style>
  #cardContainer {
    border: solid;
    border-radius: 20px;
    border-width: 2px;
    border-color: lightgray;
    /* align-items: center; */
    justify-content: center;
    width: 250px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }
</style>

<div id="cardContainer">
  <type> <%= data.type%> </type>
</div>
