<head>
  <!-- 스크립트: 종속성을 고려하여 순서대로 배치 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

  <!-- <link rel="stylesheet" href="views/styles/globalstyle.css" /> -->

  <style>
    .cHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .left-content {
      display: flex;
      align-items: center;
      margin-right: auto;
    }
    .right-content {
      display: flex;
      align-items: center;
    }

    a {
      text-decoration-line: none;
      color: black;
      font-weight: 700;
    }

    /* 드롭다운 및 사용자 메뉴 */
    i {
      margin-left: 1rem;
    }

    .dropdownImg {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    .dropdown {
      margin-left: 1.5rem;
    }

    .dropdown-toggle {
      white-space: nowrap;
    }

    .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.8rem 2rem;
      clear: both;
      font-weight: bold;
      color: #212529;
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
    }
    /* 기존 부트스트랩에 달려있는 화살표 지우기 */
    .dropdown-toggle::after {
      display: none;
    }
    /* 버튼  */
    .btnHeader {
      color: #212529;
      background-color: transparent;
      border-color: transparent;
      border-radius: 20px;
    }
    .btnHeader:hover {
      border-radius: 20px;
    }

    /* 열렸을 때 */
    .btn-light[aria-expanded='true'] .fa-chevron-up {
      transform: rotate(-180deg);
      transition: transform 0.3s;
    }

    /* 닫혔을 때 */
    .btn-light[aria-expanded='false'] .fa-chevron-up {
      transform: rotate(0deg);
      transition: transform 0.3s;
    }
  </style>
</head>
<div class="cHeader">
  <div class="left-content">
    <a href="/">
      <img src="/static/img/logo.png" alt="logo" class="logo" height="45px" />
    </a>
  </div>
  <div class="right-content">
    <a onclick="moveToMakePost()" style="margin-right: 15px; cursor: pointer">작성하기</a>
    <% if (isLogin === true) { %>
    <div class="dropdown">
      <button
        class="btn btn-light dropdown-toggle btnHeader"
        type="button"
        id="userDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <% if (userData && userData.userImgPath) { %>
        <!-- 프로필 이미지가 있을 때 -->
        <img src="/<%= userData.userImgPath %>" alt="프로필 이미지" class="dropdownImg" />
        <% } else { %>
        <!-- 프로필 이미지가 없을 때 기본 이미지 -->
        <img src="/static/svg/person.svg" alt="사용자 메뉴" class="dropdownImg" />
        <% } %>
        <!-- 화살표 아이콘 -->
        <i class="fa-solid fa-chevron-up fa-sm"></i>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" href="#" onclick="logout()">로그아웃</a>
        </li>
        <li><a class="dropdown-item" href="/users/profile">마이페이지</a></li>
        <li>
          <a class="dropdown-item" href="/users/editprofile">회원정보수정</a>
        </li>
        <li>
          <a class="dropdown-item" href="/email">이메일 인증</a>
        </li>
      </ul>
      <% } else { %>
      <a href="/login">로그인</a>
      <% } %>
    </div>
  </div>
  <script>
    function logout() {
      axios({
        method: 'POST',
        url: '/logout',
      })
        .then((res) => {
          console.log('로그아웃 요청 성공');
          window.location.reload();
        })
        .catch((err) => {
          console.log('로그아웃 요청 실패', err);
          alert('로그아웃 요청 실패');
        });
    }
    const moveToMakePost = () => {
      window.location.href = '/board/create';
    };
  </script>
</div>
