<style>
  header {
    display: flex;
    padding-right: 48px;
    padding-left: 48px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    text-decoration-line: none;
    color: black;
    font-weight: 700;
  }
</style>

<header>
  <a href="/">
    <img src="../static/img/logo.png" alt="logo" class="logo" height="45px" />
  </a>
  <div>
    <a href="/login">로그인</a>
    <!-- [ BE ] 테스트용 : 나중에 수정 부탁드려요 ! -->
    <!-- 1수정 -->
    <a href="/profile/1" style="color: lightgrey">마이페이지</a>
  </div>
</header>
