<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    text-decoration-line: none;
    color: black;
    font-weight: 700;
  }
</style>

<header class="container">
  <a href="/">
    <img src="../static/img/logo.png" alt="logo" class="logo" height="45px" />
  </a>
  <div>
    <a href="/login">로그인</a>
    <a href="/join">회원가입</a>
  </div>
</header>
