<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    자유게시판 새 글 작성 페이지
  </body>
  <div>제목<input type="text" /></div>
  <div>내용<input type="text" /></div>
  <button>등록하기</button>
  <button>취소</button>
</html>
