<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: '메인' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/index.css" />
    <script defer src="../static/js/index.js"></script>
  </head>
  <body>
    <header>
      <a href="/">
        <img
          src="../static/img/logo.png"
          alt="logo"
          class="logo"
          height="45px"
        />
      </a>
      <div>
        <a href="">로그인</a>
      </div>
    </header>

    <%- include('./components/carousel') %>

    <menu>
      <!-- <div class="menu" onclick="changeType('all')">전체</div> -->
      <div class="menu activeM" onclick="changeType(this, 'qa')">Q&A</div>
      <div class="menu" onclick="changeType(this, 'free')">자유게시판</div>
    </menu>

    <%- include('./components/freeBoardCard', { data }) %>
  </body>
</html>
