<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: axios cdn 불러오기 -->
    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>회원가입</h1>
    <form name="form_register">
      <label for="uId">ID</label>
      <input id="uId" type="text" name="uId" required /><br />
      <label for="pw">Password</label>
      <input id="pw" type="pw" name="pw" required /><br />
      <label for="uName">Name </label>
      <input id="uName" type="text" name="uName" required /><br />
      <label for="email">email </label>
      <input id="email" type="text" name="email" required /><br />
      <fieldset>
        <legend>isSesac</legend>
        <input type="radio" name="isSesac" id="t" value="true" />
        <label for="t">새싹다님</label>
        <input type="radio" name="isSesac" id="f" value="false" />
        <label for="f">아님</label>
      </fieldset>

      <fieldset>
        <legend>위치</legend>
        <input type="radio" name="campus" id="1" value="1" />
        <label for="1">영등포</label>
        <input type="radio" name="campus" id="2" value="2" />
        <label for="2">용산</label>
      </fieldset>

      <button type="button" onclick="register();">Register</button>
    </form>

    <script>
      function register() {
        const form_register = document.forms['form_register'];

        // AJAX 요청을 사용하여 백엔드로 로그인 정보 전송
        axios({
          method: 'post',
          url: '/users',
          data: {
            uId: form_register.uId.value,
            pw: form_register.pw.value,
            uName: form_register.uName.value,
            email: form_register.email.value,
            isSesac: form_register.isSesac.value,
            campus: form_register.campus.value,
          },
        })
          .then((res) => {
            return res.data;
          })
          .then(() => {
            alert('회원가입 성공');
          });
      }
    </script>
  </body>
</html>
