<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./components/cdn', { title: 'SesacIn' }) %>
    <link rel="stylesheet" href="/views/styles/globalstyle.css" />
    <link rel="stylesheet" href="/views/styles/index.css" />
    <script defer src="../static/js/index.js"></script>
    <script defer src="../static/js/main.js"></script>
  </head>
  <body>
    <div class="container">
      <%- include('./components/header', { isLogin: isLogin }) %>
    </div>
  </body>
</html>
