<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document <%= title %></title>
      <!-- axios cdn -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <link rel="stylesheet" href="views/styles/login.css">
      <link rel="stylesheet" href="views/styles/globalstyle.css">
  </head>
  <body>
      <header>
          <img src="../../static/img/제목을 입력해주세요_-001 (2).png" ></img>
          <div>
<<<<<<< Updated upstream
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20" class="bi-arrow-left" onclick="goBack()">
=======
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20" class="bi-arrow-left" onclick="goTohome()">
>>>>>>> Stashed changes
          <circle cx="10" cy="10" r="9.5" fill="transparent" class="hover-circle" />
          <path fill="black" fill-rule="evenodd" transform="translate(2, 2)" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
    </div>
      </header>
      
      <main>
        <form name="login" id="form_login">
            <div class="login_form_id">
            <input type="id" class="login_form_id" id="uId" name="uId" placeholder="아이디" required >
            <div class="caution"></div>
            </div>
          <br>
          <br>
          <div class="login_form_pw">
            <input type="pw" class="login_form_pw" id="pw" name="pw" placeholder="비밀번호" required >
          </div>
          <br>
          <br>

          <div>
              <a href="/id" class="id-link">아이디 /</a>
              <a href="/pw" class="pw-link">비밀번호 찾기</a>
              
          </div>
          <br>
          <button type="button" class="btn btn-primary" onclick="join()">회원가입</button>
          <br>
          <button type="button" class="btn btn-primary" onclick="logintest()">로그인</button>

        </form>
      </main>
  </div>
    <script>
      function join(){
        window.location.href = "/join";
      }
      function logintest() {
        const cautionBox = document.querySelector('div.caution');
        const login_form = document.forms['login'];
        
        try {
          if(!login_form.uId.checkValidity()){
            caution.textContent = `id를 입력해 주세요`;
          } else if(!login_form.pw.checkValidity()){
            caution.textContent = `pw를 입력해 주세요`;
<<<<<<< Updated upstream
          } else {
          axios({ 
            method: 'post',
            url: '/login',
            data: {
              uId: login_form.uId.value,
              pw: login_form.pw.value,
            },
          })
          .then((res) => {
            console.log('아무거나');
            return res.data;
          })
          .then((data) => {
            console.log(data);
            window.location.href = "/";
=======
          } 
          else {
            axios({
              method: 'post',
              url: '/login',
              data: {
                uId: login_form.uId.value,
                pw: login_form.pw.value,
              },
            })
            .then((res) => {
              return res.data;
            })
          .then((data) => {
            console.log(data);
            alert('로그인 되셨습니다!')
            //메인으로 이동
            document.location.href = '/';
>>>>>>> Stashed changes
          });
        }
      } catch(err){
        alert('로그인 해주세요!');
      }
    }
<<<<<<< Updated upstream

    function goBack() {
      window.history.back();
    }

=======
    
>>>>>>> Stashed changes
    </script>
  </body>
</html>