<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- 스크립트: 종속성을 고려하여 순서대로 배치 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 스타일시트: Bootstrap을 먼저, 그 다음 사용자 정의 스타일 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="views/componets/cdn.ejs">
    <link rel="stylesheet" href="/views/styles/profile.css">
    <link rel="stylesheet" href="/views/styles/globalstyle.css">
    <script src="../static/js/profile.js"></script>
    
</head>
  <body>
    <header>
      <img class="logo" src="/static/img/logo.png" ></img>
      <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20" class="bi-arrow-left">
      <circle cx="10" cy="10" r="9.5" fill="transparent" class="hover-circle" />
      <path fill="black" fill-rule="evenodd" transform="translate(2, 2)" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    </div>
    </header>
    <main>
  
  <!-- 프로필 -->
  
  
  <form name="profile"  method="post" action="/upload/image/user" enctype="multipart/form-data">

    <!-- 배지 -->
    <img class="sesac_badge" onclick="" src="/../static/img/leaf.png"><br>

    <!-- 이미지 업로드 -->
    <% if (userData && userData.userImgPath) { %>
      <div> 
          <img class="profile" src="/<%= userData.userImgPath %>" alt="User Image">
      </div>
    <% } else { %>
        <img src="/../static/svg/person.svg" class="person" alt="Default Image">
    <% } %><br>

      <input type="file" name="file">

    <!-- 프로필 정보 -->
    <% if (userData) { %>
      <div class="name"> 내 이름: <%= userData.uName %></div>
      <div class="campus"> 캠퍼스 : <%= userData.campus %></div>
      <% }  %>
    </form>
    
<!-- 게시판 --> 
    <div class="container text-center">
      <div class="row row-cols-5">
      <button class="qna" onclick="change('qna')">Q&A 게시판</button>
      <button class="free" onclick="change('free')">자유 게시판</button>
      <button class="liked" onclick="change('liked')">좋아요 누른 게시글</button>
      <button class="commented" onclick="change('commented')">내가 댓글단 게시글</button>
      <button class="answered" onclick="change('answered')">내가 답변한 게시글</button>
    </div>
  </div>
     
        <div id="content"></div>
     
    </main>
       
       
      
    </body>
</html>
