<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- 스크립트: 종속성을 고려하여 순서대로 배치 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- 스타일시트: Bootstrap을 먼저, 그 다음 사용자 정의 스타일 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="views/componets/cdn.ejs">
    <link rel="stylesheet" href="/views/styles/globalstyle.css">
    <link rel="stylesheet" href="/views/styles/profile.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <script src="../static/js/profile.js"></script>
    
</head>
  <body>
    <header>
      <div class="header">
      <img class="logo" onclick="goTohome()" src="/static/img/logo.png" ></img>
      <button onclick="userLogout()">로그아웃</button>
    </div>
      <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20" class="bi-arrow-left" onclick="goTohome()">
      <circle cx="10" cy="10" r="9.5" fill="transparent" class="hover-circle" />
      <path fill="black" fill-rule="evenodd" transform="translate(2, 2)" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
    </svg>
    </div>
    </header>
    <main>
  
  <!-- 프로필 -->
  <form name="profile">

    <!-- 배지 -->
    <img class="sesac_badge" onclick="" src="../static/img/leaf.png"><br>

    <!-- 이미지 업로드 -->
    <% if (userData && userData.userImgPath) { %>
      <div> 
          <img class="profile" src="/<%= userData.userImgPath %>" alt="User Image">
      </div>
    <% } else { %>
        <img src="/../static/svg/person.svg" class="person" alt="Default Image">
    <% } %><br>

    <!-- 이미지 업로드 버튼(이미지) -->
    <input type="file" id="fileInput" style="display: none;" onchange="userProfileImgUpload()">
    <!-- <div class="uploadBtnBox"> -->
      <!-- <img class="uploadBtn" src="/../static/img/uploadIcon.png" alt="클릭하여 파일 찾기" onclick="document.getElementById('fileInput').click();" style="cursor: pointer;"> -->
    <!-- </div> -->
    <div class="uploadBtnBox" style="width: 40px; height: 40px; border-radius: 70%; overflow: hidden;">
      <img class="uploadBtn" src="/../static/img/uploadIcon.png" alt="클릭하여 파일 찾기" onclick="document.getElementById('fileInput').click();" style="width: 100%; height: 100%; object-fit: cover; cursor: pointer;">
    </div><br>

    <!-- 프로필 정보 -->
    <% if (userData) { %>
      <h3 class="name"> 닉네임 : <%= userData.uName %></h3>
      <!-- <div class="campus"> 캠퍼스 : <%= userData.campus %></div> -->
      <% }  %>
  </form>
    
<!-- 게시판 --> 
    <div class="container text-center">
      <div class="row row-cols-5">
      <button class="qna" onclick="change('qna')">Q&A 게시판</button>
      <button class="free" onclick="change('free')">자유 게시판</button>
      <button class="liked" onclick="change('liked')">좋아요 선택한 글</button>
      <button class="commented" onclick="change('commented')">댓글 작성한 글</button>
      <!-- <button class="answered" onclick="change('answered')">답변 작성한 글</button> -->
    </div>
  </div>
     
        <div id="content"></div>
        <a class="caution"></a>
    </main>
      
    </body>
</html>
