<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="views/componets/cdn.ejs">
      <link rel="stylesheet" href="views/styles/findId.css">
      <link rel="stylesheet" href="views/styles/globalstyle.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

  </head>
  <body>
      <header>        
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20" class="bi-arrow-left" onclick="goTohome()">
            <circle cx="10" cy="10" r="9.5" fill="transparent" class="hover-circle" />
            <path fill="black" fill-rule="evenodd" transform="translate(2, 2)" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
        </div>
      </header>
      <div class="content">
        <img src="/static/img/logo.png" alt="logo" class="logo" />
      <main>
        <h2>아이디 찾기</h2>

          <form name="findId" id="form_findId">
            <div class="findId_form_uName">
            <input type="text" class="findId_form_uName" id="uName"" name="uName"" placeholder="닉네임" required >
            </div>
            <div class="caution" id="cautionName"></div>
            <br>
            <br>
            <div class="findId_form_email">
              <input type="email" class="findId_form_email" id="email" name="email" placeholder="이메일" required >
            </div>
            <div class="caution" id="cautionEmail"></div>
            <br>
            <br>
            
            <br>
            <button type="button" class="btn btn-primary" onclick="findIdtest()">아이디 찾기</button>

            <button type="button" class="btn btn-primary" onclick="goBack()">취소</button>

            <div class="modal fade" id="cautionModal" tabindex="-1" aria-labelledby="cautionModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h5 class="modal-title" id="cautionModalLabel">경고</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                  <p id="cautionText"></p>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </main>
      </div>
  </div>
    <script>
      function goBack(){
        window.history.back();
      }
      function setModalTextAndShow(message) {
        const modalText = document.getElementById('cautionText');
        modalText.textContent = message;

        $('#cautionModal').modal('show');
      }

      function hideCaution() {
        const cautionName = document.getElementById('cautionName');
        const cautionEmail = document.getElementById('cautionEmail');

        cautionName.textContent = '';
        cautionEmail.textContent = '';
      }

      function findIdtest() {
        const cautionName = document.getElementById('cautionName');
        const cautionEmail = document.getElementById('cautionEmail');
        const findId_form = document.forms['findId'];
        
        try {
          cautionName.textContent = ''; 
          cautionEmail.textContent = ''; 

          if ( !findId_form.uName.checkValidity ()) {
            cautionName.textContent = `닉네임을 입력해 주세요`;
            setTimeout(hideCaution, 3000);
            return;
          } else if ( !findId_form.email.checkValidity ()) {
            cautionEmail.textContent = `이메일을 입력해 주세요`;
            setTimeout(hideCaution, 3000);
          } 
            axios({
              method: 'post',
              url: '/id',
              data: {
                uName: findId_form.uName.value,
                email: findId_form.email.value,
              },
            })
            .then((res) => {
                setModalTextAndShow(`${findId_form.uName.value}님의 아이디는 ${res.data.uId}입니다.`);

            })
            .catch((error) => {
              const status = error.response.request.status;
              if (status === 401) {
                setModalTextAndShow('사용자를 찾을 수 없습니다.');
              }
            });
            } catch (err) {
              console.log(err);
              setModalTextAndShow('로그인 중 오류가 발생했습니다.');

            }
          }
      function goTohome() {
          window.location.href = '/';
      }
    
    </script>
  </body>
</html>